/* Elements sélectors */

form {
    width: 400px;
    height: 250px;
    margin: auto;
}

fieldset {
    background-color: rgb(156, 156, 156);
}

h1 {
    text-align: center;
}

/* Class sélectors */

.button {
    text-align: center;
    margin-bottom: 10px;
}

.pseudo {
    margin-left: 30px;
    margin-bottom: 10px;
}

.mdp {
    margin-left: 30px;
    margin-top: 10px;
}

.check {
    margin-left: 30px;
    margin-top: 10px;
}

.souv {
    margin-left: 10px;
}

.retour {
    margin-top: 20px;
    padding: 5px;
    margin-left: 10px;
}

.connexion {
    margin-top: 20px;
    padding: 5px;
    margin-right: 10px;
}


/* ID sélectors */